<!-- <div class="table-responsive">
    <table id="tbDados" class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Usuário</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i=0; i < dados.length; i++) { %>
            <tr>
                <td align=""><%= dados[i].nome %></td>
                <td><%= dados[i].data %></td>
                <td><%= dados[i].hora %></td>
                <td><%= dados[i].user %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div> -->